/* Variables globales */
:root {
    --color-font: #fff;
    --bg-color: #0071dc;
    --bg-color-hover: #ffffff;
    --link-color-hover: #ffffff;
  }
  /* Variables globales */
  
  
  /* Inicio de Navbar */

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgb(254, 254, 254);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar{
  a{
    text-decoration: none;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .header-navbar{
    display: none;
  }
  .container{
    background-color: #000;
  }
}


/* Inicio Contacto */
.contact {
    padding: 4%;
    min-height: 400px; /* Cambiado a min-height para permitir el crecimiento del contenido */  
}
  
.col-md-3{
  background: #fff;
  padding: 4%;  
  text-align: center; /* Centra el contenido en todos los tamaños de pantalla */;
}
  
  @media (min-width: 768px) {
  
    .col-md-3 {
      float: left;
      width: 25%;
      align-items: center;
      border: 1px solid #000; /* Añade esta línea para agregar bordes al panel */
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  
    .col-md-9 {
      float: left;
      width: 75%; /* Ajustado el ancho para dispositivos medianos y más grandes */
    }
  }
  
  .contact-info {
    margin-top: 10%;
  }
  
  .contact-info img {
    margin-bottom: 15%;
  }
  
  .contact-info h2 {
    margin-bottom: 10%;
  }
  
  .col-md-9 {
    background:  rgb(231, 231, 231);
    padding: 2%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid #000; /* Añade esta línea para agregar bordes al panel */
  }
  
  .contact-form label {
    font-weight: 600;
  }
  
  .contact-form button { 
    font-weight: 600;
    width: 100%; /* Ajustado el ancho del botón para ocupar todo el contenedor */
    margin-top: 10px; /* Añadido un margen superior para separar el botón del resto del contenido */
  }


.contact-form .form-group {
    margin-bottom: 20px; /* Ajusta este valor según el espacio deseado entre los campos */
}

