/* Variables globales */
:root {
  --color-font: #fff;
  --bg-color: #0071dc;
  --bg-color-hover: #ffffff;
  --link-color-hover: #ffffff;
}
/* Variables globales */


/* Inicio de Navbar */
.navbar-dark .nav-item .nav-link:hover {
  background-color: rgb(254, 254, 254);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar{
  a{
    text-decoration: none;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .header-navbar{
    display: none;
  }
}




/* Inicio de Products Cards */
.height{
  height:70vh;
}

.container{
  margin-top: 20px;
}

.image{
  position:absolute;
  right:12px;
  top:10px;
}

.colors{
  display:flex;
  margin-top:2px;
}

.colors span{
  width:15px;
  height:15px;
  border-radius:50%;
  cursor:pointer;
  display:flex;
  margin-right:6px;
}
 /* Fin de Products Cards */

 