/* Variables globales */
:root {
  --color-font: #fff;
  --bg-color: #0071dc;
  --bg-color-hover: #ffffff;
  --link-color-hover: #ffffff;
}
/* Variables globales */


/* Inicio de Navbar */
.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}


/* Inicio de Products Cards */
.height{
  height:70vh;
}

.container{
  margin-top: 20px;
}

.image{
  position:absolute;
  right:12px;
  top:10px;
}

.colors{
  display:flex;
  margin-top:2px;
}

.colors span{
  width:15px;
  height:15px;
  border-radius:50%;
  cursor:pointer;
  display:flex;
  margin-right:6px;
}
 /* Fin de Products Cards */

 