/* Estilo para los botones */
.btn {
    color: #fff; /* Color del texto */
}

.btn a{
    color: #fff; /* Color del texto */
    text-decoration: none;
}
  
/* Estilo para el fondo del panel */
.card {
    background-color: rgb(231, 231, 231); /* Gris muy claro */
}
  
/* Estilo para el tamaño de letra en email y contraseña */
.form-control {
    font-size: 20px; /* Tamaño de letra más grande */
}
  
/* Estilo para el tamaño de letra en el enlace de recuperar contraseña */
.link-secondary {
    font-size: 20px; /* Tamaño de letra más grande */
    text-decoration: underline; /* Subrayado */
}