{% extends "plantilla.html" %}

{% load crispy_forms_tags %}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/contacto.css'%}">
<!-- Formulario de contacto  -->    
<div class="container contact" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="https://cdn-icons-png.flaticon.com/512/7269/7269995.png" alt="image" width="100" height="100"/>
                <h2>Contáctanos</h2>
                <h4>Si tienes alguna consulta, reclamo, sugerencia o simplemente quieres dejar tus comentarios, no dudes en ponerte en contacto con nosotros. </h4>  
            </div>
        </div>
        <div class="col-md-9">
            <form id="contact-form" method="POST">
            {% csrf_token %}
            {{form|crispy}}
                  <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary btn-lg" type="submit" class="btn btn-primary">Enviar</button>
                  </div>                
        </form>
        </div>
    </div>
</div>
<!-- Fin Formulario de contacto -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
    $(document).ready(function() {
        $('#contact-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "contacto" %}',
                data: $(this).serialize(),
                success: function(response) {
                    if (response.status === 'success') {
                        Swal.fire({
                            title: response.message,
                            text: 'Serás redirigido a la página de inicio en unos segundos.',
                            icon: 'success',
                            showConfirmButton: true,
                            timer: 3000
                        }).then(() => {
                            window.location.href = response.redirect;
                        });
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Cerrar'
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        title: 'Error',
                        text: 'Ocurrió un error inesperado. Inténtalo de nuevo.',
                        icon: 'error',
                        confirmButtonText: 'Cerrar'
                    });
                }
            });
        });
    });
</script>
{% endblock content %}