{% extends "plantilla.html" %}
{% load static%}
{% block content %}


<!-- Añade un enlace a Bootstrap si aún no lo has hecho -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/inventario.css' %}">
<div class="container mt-10" style="margin-top: 200px;">
  <!-- Botón Agregar -->
  <div class="mb-2">
    <a href="#" class="btn btn-success agregarProducto" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-categoria="{{ producto.nombre_categoria_id }}" data-stock="{{ producto.stock }}" data-precio="{{ producto.precio }}" data-precio="{{ producto.imagen }}">Agregar Producto</a>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Acciones</th> 
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.nombre_categoria_id }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.precio|floatformat:"-1" }}</td>
          <td>
            <!-- Botones Editar y Eliminar -->
            <a href="#" class="btn btn-primary btn-sm editar-btn" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-categoria="{{ producto.nombre_categoria_id }}" data-stock="{{ producto.stock }}" data-precio="{{ producto.precio }}">Editar</a>
            <a href="#" class="btn btn-danger btn-sm eliminar-btn" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre }}" data-categoria="{{ producto.nombre_categoria_id }}" data-stock="{{ producto.stock }}" data-precio="{{ producto.precio }}">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var eliminarBtns = document.querySelectorAll('.eliminar-btn');
    var editarBtns = document.querySelectorAll('.editar-btn');
    var agregarProductoBtn = document.querySelector('.agregarProducto');

    var categorias = [
    {% for categoria in categorias %}
    "{{ categoria.nombre_categoria }}",
    {% endfor %}
    ];

    agregarProductoBtn.addEventListener('click', function() {
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // ¿Este cookie es el que buscamos?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');


      Swal.fire({
        title: 'Agregar Producto',
        html: `
          <div class="swal2-form">
              <div class="form-row">
                <div class="swal2-form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre" class="swal2-input custom-swal-input" placeholder="Nombre" value="">
                </div>
                <div class="swal2-form-group">
                  <label for="stock">Stock</label>
                  <input type="number" id="stock" class="swal2-input custom-swal-input" placeholder="Stock" value="">
                </div>
              </div>
              <div class="form-row">
                <div class="swal2-form-group">
                  <label for="categoria">Categoría</label>
                  <select id="categoria" class="swal2-input custom-swal-input">
                    <option value="">Seleccione una categoría...</option>
                    ${categorias.map(categoria => `<option value="${categoria}">${categoria}</option>`).join('')}
                  </select>
                </div>
                <div class="swal2-form-group">
                  <label for="precio">Precio</label>
                  <input type="text" id="precio" class="swal2-input custom-swal-input" placeholder="Precio" value="">
                </div>
                <div class=swal2-form-group">
                  <label for="imagen">Imagen</label>
                  <input type="file" id="imagen" class="swal2-input custom-swal-input" placeholder="Imagen" value="">
                </div>
              </div>
            </div>
        `,
        confirmButtonText: 'Agregar',
        cancelButtonText: 'Cancelar',
        showCancelButton: true,
        focusConfirm: false,
        preConfirm: () => {
          const nombre = document.getElementById('nombre').value;
          const stock = document.getElementById('stock').value;
          const categoria = document.getElementById('categoria').value;
          const precio = document.getElementById('precio').value;
          const imagen = document.getElementById('imagen').files[0];
        
          if (!nombre || !stock || !categoria || !precio || !imagen) {
            Swal.showValidationMessage('Por favor, rellena todos los campos');
            return false;
          }
        
          let formData = new FormData();
          formData.append('nombre', nombre);
          formData.append('stock', stock);
          formData.append('nombre_categoria', categoria);
          formData.append('precio', precio);
          formData.append('imagen', imagen);
        
          return formData;
        }
      }).then((result) => {
        if (result.value) {
          fetch('/inventario/', {
            method: 'POST',
            headers: {
              'X-CSRFToken': csrftoken
            },
            body: result.value
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Error al agregar el producto');
            }
            return response.json();
          })
          .then(data => {
            if(data.success){
              Swal.fire('¡Agregado!', 'El producto ha sido agregado exitosamente.', 'success')
            .then(() => {
              location.reload(); 
            });
            } else {
              Swal.fire('Error', 'No se pudo agregar el producto: ' + data.message, 'error');
            }
          })
          
          .catch(error => {
            Swal.fire('Error', 'No se pudo agregar el producto: ' + error.message, 'error');
          });
        }
      });
    });

    eliminarBtns.forEach(function(btn) { 
      btn.addEventListener('click', function (event) {
        event.preventDefault();
  
        
        var id = this.getAttribute('data-id');
        var nombre = this.getAttribute('data-nombre');
        var categoria = this.getAttribute('data-categoria');
        var stock = this.getAttribute('data-stock');
        var precio = this.getAttribute('data-precio');
  
        
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // ¿Este cookie es el que buscamos?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
  
        const csrftoken = getCookie('csrftoken');
  
        // Confirmación de la acción de eliminación
        Swal.fire({
          title: 'Eliminar Producto',
          text: '¿Estás seguro de querer eliminar este producto?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí',
          cancelButtonText: 'No',
          confirmButtonColor: '#dc3545',
          cancelButtonColor: '#6c757d'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch('/inventario/', {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken 
              },
              body: JSON.stringify({
                id_producto: id,
                nombre: nombre,
                nombre_categoria: categoria,
                stock: stock,
                precio: precio
              })
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                Swal.fire('Eliminado', data.message, 'success').then(() => {
                  location.reload(); 
                });
              } else {
                Swal.fire('Error', data.message, 'error');
              }
            })
            .catch(error => {
              console.error('Error:', error);
              Swal.fire('Error', 'Hubo un problema al eliminar el producto.', 'error');
            });
          }
        });
      });
    });

    editarBtns.forEach(function(btn) {
      btn.addEventListener('click', function () {
        var id = this.getAttribute('data-id');
        var nombre = this.getAttribute('data-nombre');
        var categoria = this.getAttribute('data-categoria');
        var stock = this.getAttribute('data-stock');
        var precio = this.getAttribute('data-precio');

        // Obtener el token CSRF de las cookies
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // ¿Este cookie es el que buscamos?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        
        Swal.fire({
          title: 'Editar Producto',
          html: `
            <div class="swal2-form">
              <div class="form-row">
                <div class="swal2-form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" id="nombre" class="swal2-input custom-swal-input" placeholder="Nombre" value="${nombre}">
                </div>
                <div class="swal2-form-group">
                  <label for="stock">Stock</label>
                  <input type="number" id="stock" class="swal2-input custom-swal-input" placeholder="Stock" value="${stock}">
                </div>
              </div>
              <div class="form-row">
                <div class="swal2-form-group">
                  <label for="categoria">Categoría</label>
                  <select id="categoria" class="swal2-input custom-swal-input">
                    <option value="">${categoria}</option>
                    ${categorias.map(categoria => `<option value="${categoria}">${categoria}</option>`).join('')}
                  </select>
                </div>
                <div class="swal2-form-group">
                  <label for="precio">Precio</label>
                  <input type="text" id="precio" class="swal2-input custom-swal-input" placeholder="Precio" value="${precio}">
                </div>
              </div>
            </div>
          `,
          confirmButtonText: 'Guardar cambios',
          cancelButtonText: 'Cancelar',
          showCancelButton: true,
          focusConfirm: false,
          customClass: {
            container: 'custom-swal-container',
            popup: 'custom-swal-popup',
            header: 'custom-swal-header',
            title: 'custom-swal-title',
            closeButton: 'custom-swal-close',
            content: 'custom-swal-content',
            input: 'custom-swal-input',
            actions: 'custom-swal-actions',
            confirmButton: 'custom-swal-confirm',
            cancelButton: 'custom-swal-cancel'
          },        
          preConfirm: () => {
            const nombre = Swal.getPopup().querySelector('#nombre').value;
            const categoria = Swal.getPopup().querySelector('#categoria').value;
            const stock = Swal.getPopup().querySelector('#stock').value;
            const precio = Swal.getPopup().querySelector('#precio').value;
          
            return fetch('/inventario/', {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken 
              },
              body: JSON.stringify({ id_producto: id, nombre, nombre_categoria: categoria, stock, precio })
            })
            .then(response => {
              if (!response.ok) {
                throw new Error('Ocurrió un error al editar el producto');
              }
              return response.json();
            })
            .then(data => {
              if (data.success) {
                Swal.fire('Editado', data.message, 'success').then(() => {
                  location.reload(); 
                });
              } 
              if (!data.success) {
                Swal.fire({icon: 'error', title:'Error', text: data.message});
              }
            })
          }

        });
      });
    });
  });
  </script>

{% endblock content %}