{% extends "plantilla.html" %}
{% load static%}
{% block content %}


<!-- Añade un enlace a Bootstrap si aún no lo has hecho -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-10" style="margin-top: 200px;">
  <!-- Botón Agregar -->
  <div class="mb-2">
    <a href="#" class="btn btn-success">Agregar Producto</a>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Acciones</th> <!-- Columna para acciones -->
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.nombre_categoria_id }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ producto.precio|floatformat:"-1" }}</td>
          <td>
            <!-- Botones Editar y Eliminar -->
            <a href="#" class="btn btn-primary btn-sm">Editar</a>
            <a href="#" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de querer eliminar este producto?');">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



  {% endblock content %}